  <h1>My locations</h1>

  <form id='new-location' action='/locations/new' method='get'>
    <input type='submit' value='Add a new location'>
  </form>

  <div id='new-location-form'>
    <%= erb :'locations/_new_form.html', layout: false, locals: { location: @location }  %>
  </div>
<div class="locations">
  <% if @user.has_locations? %>
    <% @user.locations.order(created_at: :asc).each do |location| %>
    <div class="location-container">
      <%= erb :'locations/_location.html', layout: false, locals: { location: location } %>
    </div>
    <% end %>
  <% end %>
</div>
