<h1>Welcome to HAM Finder!</h1>
<br>
<p>HAM Finder is a web application developed by <a href="https://github.com/jasonallenphotography">Jason Allen</a>, a student at <a href="http://devbootcamp.com">Dev Bootcamp</a>.</p>
<br>
<p>This appliction allows users to save locations by zipcode relevant to their home location or travels, query all of the 2m and 70cm band repeaters within 25 miles of the target zipcode, and receive a CSV file that is ready to load into a HAM Radio programming appliction (I recommend and contribute to <a href="http://chirp.danplanet.com/projects/chirp">CHIRP</a>).</p>
<br>
<p>My hope is that this web application will make it easier for amateur radio enthusiasts, Amateur Radio Emergency Service (ARES) groups, and Radio Amateur Civil Emergency Service (RACES) groups to program their digital radios.</p>
<br>
<p>Repeater data is courtesy of <a href="https://www.repeaterbook.com">RepeaterBook</a>, an EXCELLENT amateur radio resource which is updated by the community, and provided as a service to the public. ZBM2 Software, owners of RepeaterBook, and Jason Allen, the developer of this application, and others responsible for the administration of RepeaterBook are not responsible for the accuracy of information provided, or for the misuse of information provided. By using this site you warrant that you are a licensed amateur radio operator and will comply with the FCC's laws and regulations thereto.</p>
